:root {
	--primary-color: hsl(228, 56%, 47%);
	--primary-color-light: hsl(228, 56%, 57%);
	--primary-color-dark: hsl(228, 56%, 37%);

	--secondary-color: hsl(264, 79%, 63%);
	--secondary-color-light: hsl(264, 79%, 73%);
	--secondary-color-dark: hsl(264, 79%, 53%);
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

body {
	background-color: #1b1b1b;
	color: white;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	font-size: 1em;
	color: #31e7ff;
}

::-moz-selection {
	color: #fff;
	background: #3550bb;
}

::selection {
	color: #fff;
	background: #3550bb;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 100px;
}
